@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

/* CUSTOM COMPONENTS */
@layer components {
  .desktop-menu {
    @apply px-4 py-2 hover:text-[#FFF57E] transition-colors;
  }
  .mobile-menu {
    @apply text-white px-6 py-4 text-center border-b border-gray-700/50;
  }
  .card {
    @apply w-full h-full sm:w-[50%] md:w-auto lg:w-[250px] mx-auto flex flex-col bg-black/10 text-white rounded-lg shadow-lg overflow-hidden cursor-pointer transition duration-300 hover:scale-105 hover:bg-black/30;
  }
  .card-button {
    @apply text-xs sm:text-sm md:text-xs lg:text-sm w-full bg-yellow-400 text-black font-semibold py-2 rounded-lg hover:bg-yellow-500 transition duration-300 transform hover:scale-[1.02] active:scale-95;
  }
  .card-div {
    @apply p-4 flex flex-col flex-1 justify-between;
  }
  .card-h2 {
    @apply text-lg sm:text-xl md:text-lg lg:text-2xl font-bold mb-2;
  }
  .card-p {
    @apply text-xs sm:text-sm md:text-xs lg:text-sm mb-4 line-clamp-2;
  }
  .card-price {
    @apply text-xs sm:text-sm md:text-xs lg:text-sm text-yellow-200 font-semibold;
  }
  .offer-div {
    @apply bg-white/20 backdrop-blur-lg rounded-2xl p-6 text-center shadow-lg;
  }
  .offer-h3 {
    @apply text-white text-2xl font-bold mb-2;
  }
  .offer-p {
    @apply text-white mb-4;
  }
  .offer-btn {
    @apply bg-yellow-300 text-black px-4 py-2 rounded-lg hover:bg-yellow-400 cursor-pointer;
  }
  .achiev-div {
    @apply p-6 bg-white/50 rounded-xl;
  }
  .achiev-h3 {
    @apply text-4xl font-bold text-purple-700;
  }
  .achiev-p {
    @apply text-gray-700 mt-2 text-sm;
  }
  .hover-footer {
    @apply hover:text-yellow-200;
  }
}
